
.icon-menu:before { content: '\e805'; } /* '' */
.icon-heart-1:before { content: '\e802'; } /* '' */
.icon-inbox-alt:before { content: '\e804'; } /* '' */
.icon-export:before { content: '\e803'; } /* '' */
.icon-users:before { content: '\e801'; } /* '' */
.icon-link:before { content: '\e800'; } /* '' */